body {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: #595959 0.12em solid;
}

a:visited {
  color: #353535;
}

a:hover {
  color: #717171;
}

@font-face {
  font-family: 'Font-Awesome';
  src: url('webfonts/fa-solid-900.woff2') format("woff2"),
  url('webfonts/fa-solid-900.woff') format('woff'), 
  url('webfonts/fa-solid-900.ttf') format('truetype');
}

header {
  width: 336px;
  background-color: #EDEDED;
  position: fixed;
  z-index: 3;
  height: 73px;
}

h1 {
  position: fixed;
  left: 100px;
  color: black;
  font-weight: unset;
  font-family: "Avenir Next", "Avenir", sans-serif;
  text-decoration: none;
  font-size: 18px;
  z-index: 2;
}

.livraison {
  color: #c6540f;
}

#map {
  border-left: 1px solid #fff;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.mapboxgl-popup {
  padding-bottom: 5px;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 250px;
  border-radius: 0px 0px 20px 20px;
}

.mapboxgl-popup-content .detail {
  padding: 4%;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h3 {
  text-align: center;
  color: #fff;
  margin: 0;
  display: block;
  padding: 15px;
  font-weight: 700;
  margin-top: -5px;
}

.mapboxgl-popup-content h3.bar-name {
  background: rgb(191, 202, 213);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.mapboxgl-popup-content h3.coupon-link {
  background: #e6e7d5;
}

.mapboxgl-popup-content h3.webshop-link {
  background: rgb(230, 219, 199);
}

.mapboxgl-popup-content h4 {
  margin: 0;
  padding-top: 5px;
  display: block;
  padding: 0px 0px 0px 0px;
  font-weight: 400;
}

.mapboxgl-container {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
  margin-top: 3px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
  border-bottom-color: rgb(61, 59, 59);
}

/* Get little bit bigger small font awesome icons */
.marker {
  font-size: 1.3em;
}

.loader{
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 1;
}

/*
Set the color of the icon
*/
svg path,
svg rect{
  fill: #C6540F;
}
