body {
  background: #404040;
  margin: 0;
  padding: 0;
}

a {
  color: black;
}

a:visited {
  color: #595858;
}

#map {
  border-left: 1px solid #fff;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.mapboxgl-popup {
  padding-bottom: 5px;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 250px;
}

.mapboxgl-popup-content .detail {
  padding: 4%;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h3 {
  text-align: center;
  color: #fff;
  margin: 0;
  display: block;
  padding: 15px;
  font-weight: 700;
  margin-top: -5px;
}

.mapboxgl-popup-content h3.bar-name {
  background: rgb(191, 202, 213);
}

.mapboxgl-popup-content h3.webshop-link {
  background: rgb(230, 219, 199);
}

.mapboxgl-popup-content h4 {
  margin: 0;
  padding-top: 5px;
  display: block;
  padding: 0px 0px 0px 0px;
  font-weight: 400;
}

.mapboxgl-container {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
  margin-top: 3px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
  border-bottom-color: rgb(61, 59, 59);
}
